%a{:name => 'top'}
%h1 Who We Are

%ul
  %li= "#{link_to("Company Background", who_we_are_url(:anchor => 'company_background'))}"
  %li= "#{link_to("Fleet Information", who_we_are_url(:anchor => 'fleet_info'))}"
  %li= "#{link_to("Franchise Opportunities", who_we_are_url(:anchor => 'franchise_opportunities'))}"
  %li= "#{link_to("Training Certification", who_we_are_url(:anchor => 'training_certification'))}"
  %li= "#{link_to("The Business", who_we_are_url(:anchor => 'the_business'))}"
  %li= "#{link_to("Employment", who_we_are_url(:anchor => 'employment'))}"


%a{:name => 'company_background'}
%h2 Company Background

%p DentPro was founded in 1991 in the San Francisco Bay area.  Throughout the past several years we have added fifty franchise areas and currently are located in the seven western states.  DentPro's corporate philosophy is to focus on Quality, Service and Professionalism.  In support of this philosophy we make all management decisions, both operationally and strategically, to ensure that we give our customers:

%ul
  %li The highest quality dent repair in the industry
  %li Legendary customer service
  %li Business which is conducted in a professional manner

%p The company has grown by using these philosophies as a foundation on which to support our efforts and satisfy all clients.

%p A large portion of our retail business is generated from customer referrals indicating both the high level of interest in the repair process as well as complete customer satisfaction.  DentPro has experienced strong, steady growth throughout the last several years as a result of increasing demand for the high quality dent repair which DentPro provides its customers.

%span= "#{link_to("Back to Top", who_we_are_url(:anchor => 'top'))}"
%br
%br

%a{:name => 'fleet_info'}
%h2 Fleet Information

%p DentPro services a variety of highly respected professional corporations that have trusted us with their vehicles.

Listed are an example of a few of our fleet clients:

%ul
  %li All major auto manufacturers
  %li
    %a{:href => 'http://www.enterprise.com/', :target => '_blank'}Enterprise Rent-A-Car
  %li
    %a{:href => 'http://www.hertz.com/', :target => '_blank'}Hertz Car Rental
  %li
    %a{:href => 'http://www.dollar.com/', :target => '_blank'}Dollar Rent A Car
  %li
    %a{:href => 'http://www.thrifty.com/', :target => '_blank'}Thrifty Car Rental
  %li
    %a{:href => 'http://www.csaa.com/', :target => '_blank'}California State Automobile Association (AAA)

%span= "#{link_to("Back to Top", who_we_are_url(:anchor => 'top'))}"
%br
%br


%a{:name => 'franchise_opportunities'}
%h2 Franchise Opportunities

%p
  %b DentPro Is An Excellent Franchise Opportunity.

%p DentPro was founded in 1991 in the San Francisco Bay Area. Currently, we have grown into 50 DentPro and DentPro Colors Franchises with DentPro Franchise Corporation located in Concord, California.  We offer franchise opportunities for:

%ul
  %li DentPro: Paintless Dent Repair
  %li DentPro Colors: Minor Repairs on Most Surface Areas - Expert Color Matching

%p= "For more information, please #{link_to("contact us", contact_us_url)}"

%span= "#{link_to("Back to Top", who_we_are_url(:anchor => 'top'))}"
%br
%br


%a{:name => 'training_certification'}
%h2 Training & Certification

%p All of DentPro's technicians, managers, and owners are personally certified by DentPro. They must complete an eight-week intensive training course that teaches a prospective technician how to repair dents and dings the "DentPro Way".

%p Our training takes place on real cars with real dents to ensure that trainees understand all of the various aspects involved in Paintless Dent Repair. We will not certify a technician until he has demonstrated a working knowledge of Paintless Dent Repair techniques and understands the importance of customer service.

%p Furthermore, DentPro continuously provides additional training, tool modifications and field support to ensure that every person in our system is performing quality work and servicing the customer. All of our work is 100% insured and guaranteed, meaning the customer does not pay anything unless he/she is satisfied with the work performed. In addition, all of our estimates are free.

%span= "#{link_to("Back to Top", who_we_are_url(:anchor => 'top'))}"
%br
%br


%a{:name => 'the_business'}
%h2 The Business

%p DentPro is in the business of Paintless Dent Repair — repairing dings and dents on vehicles using a variety of metal sculpting tools. The art of Paintless Dent Repair is not new. We know of major manufacturers who have used the technique for years, but it has only been in the recent years that the art has been accepted and has blossomed into a major alternative to auto body repair.

%p Not every car that comes off the assembly line is in mint condition. Every so often one will pick up a few minor dents and dings along the way. That's when the secret that auto manufacturers have known for years goes into action, Paintless Dent Repair. The car's original paint is preserved and fillers, sanding and mismatched paint become a thing of the past, not to mention harmful toxic by-products.

%p As a result, Paintless Dent Repair has been enthusiastically embraced by the automobile maintenance industry. Until now, individual car owners and auto-related businesses alike have had a constant, costly problem with dent and ding damage. DentPro, through its specialized training, has provided the logical alternative and solution.

%p Each DentPro technician must attend an eight-week hands-on training course to ensure the level of professionalism and competence for which DentPro is known. DentPro has become the industry leader due to its commitment to quality workmanship, legendary customer service, and business professionalism.

%p Today's individual car owners are keeping their vehicles longer, consequently they're taking better care of them. New and used car dealers, fleet owners, insurance companies, even rental car companies are all seeking a convenient and affordable way to repair and preserve their autos appearance.

%p The benefits offered by DentPro are significant:

%ul
  %li Incredible Savings — Average repair costs and time is minimized over traditional body shop restorations.
  %li Convenience — DentPro is mobile. Repairs are made at the client's location, saving them time and money. Retail locations are also available.
  %li Guaranteed Work — DentPro stands behind our 100% satisfaction guarantee.
  %li Free Estimates — Our estimates are free, we want to assist you in making an informed decision.

%span= "#{link_to("Back to Top", who_we_are_url(:anchor => 'top'))}"
%br
%br


%a{:name => 'employment'}
%h2 Employment

%p If you would like to be a part of the DentPro Team and desire to excel in a rapidly growing market, then look no further. We can offer an exceptional opportunity with all the benefits and growth you're looking for.

%p We are looking for high energy, motivated, professional and capable people with strong customer relations.

%p DentPro franchisees are expanding their business and have immediate openings for result oriented individuals to deliver quality and professional service.

%p= "If you would like to apply for a position at DentPro Paintless Dent Repair or Dent Pro Colors, please #{link_to("contact us", contact_us_url)}"

%p At DentPro we have a booming business, satisfied customers, motivated employees and a rock-solid future. Now all we need is you.

%p
  %b Work with the Leader
  %br
  DentPro is the leader in paintless dent repair. DentPro Colors pioneered urethane bumper repair.

%p
  %b Excellent Compensation
  %br
  Your motivation is recognized and will be appropriately rewarded.

%p
  %b Flexibility
  %br
  You schedule your day to meet your personal and financial goals.

%p
  %b Personal Satisfaction
  %br
  Customers are amazed, delighted and come back again.

%p
  %b Quality work, 100% Guaranteed
  %br
  You'll be proud to be a DentPro professional.

%p
  %b Valuable Training
  %br
  Every DentPro Professional completes a rigorous training program with continuous training and ongoing field support.

%p
  %b Rock-solid Reputation
  %br
  In these uncertain times, you'll be glad you're with a solid, well-managed company, firmly established on the growth track.

%p
  %b Rapid Career Advancement
  %br
  Many DentPro franchises started as DentPro Professionals. You're only limited by your level of commitment and your desire to succeed.

%p Don't let this opportunity slip away. Learn more about DentPro today.

%span= "#{link_to("Back to Top", who_we_are_url(:anchor => 'top'))}"
%br
%br
