<p>
  <b>Name:</b>
  <%=h @location.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @location.description %>
</p>

<p>
  <b>Street:</b>
  <%=h @location.street %>
</p>

<p>
  <b>City:</b>
  <%=h @location.city %>
</p>

<p>
  <b>State:</b>
  <%=h @location.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @location.zip %>
</p>

<p>
  <b>Region:</b>
  <%=h @location.region %>
</p>

<p>
  <b>Email:</b>
  <%=h @location.email %>
</p>

<p>
  <b>Phone1:</b>
  <%=h @location.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%=h @location.phone2 %>
</p>

<p>
  <b>Fax:</b>
  <%=h @location.fax %>
</p>

<p>
  <b>Url:</b>
  <%=h @location.url %>
</p>

<p>
  <b>Map url:</b>
  <%=h @location.map_url %>
</p>

<p>
  <b>Photo url:</b>
  <%=h @location.photo_url %>
</p>

<p>
  <b>Years in business:</b>
  <%=h @location.years_in_business %>
</p>

<p>
  <b>Service areas:</b>
  <%=h @location.service_areas %>
</p>

<p>
  <b>Hours of operation:</b>
  <%=h @location.hours_of_operation %>
</p>

<p>
  <b>Additional info:</b>
  <%=h @location.additional_info %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>