#footer-left
  %p
    = raw "Copyright &copy; #{current_year_range(2009)} #{link_to 'DentPro', 'http://www.dentpro.com'}, All Rights Reserved"
    %br
    - if current_user
      = "#{current_user.email} | #{link_to 'Logout', sign_out_path}"
    - else
      = link_to 'Admin Login', sign_in_path

#footer-right
  %p#aaatext= "DentPro is member of the American Automobile Associations' (AAA) #{link_to 'Show Your Card and Save program', 'http://www.aaa.com/scripts/WebObjects.dll/ZipCode.woa/wa/route?stop=yes&', :target => '_blank'}."
  %a#aaa{:href => 'http://www.aaa.com/scripts/WebObjects.dll/ZipCode.woa/wa/route?stop=yes&', :target => '_blank'}
    %img{:src => "/images/AAA.jpg", :alt => "AAA Logo"}
