%ul
  %li= "#{link_to("Home", root_url)}"
  %li= "#{link_to("What We Do", what_we_do_url)}"
  %li= "#{link_to("Get a Quote!", root_url)}"
  %li= "#{link_to("Where We Are", root_url)}"
  %li= "#{link_to("Who We are", who_we_are_url)}"
  %li{:class => 'last'}= "#{link_to("Contact Us", contact_us_url)}"

